/*　ヘッダー　*/
.header {
    white-space: nowrap;
    background-color: #f4b996;
    justify-content: space-between;
    text-align: center;
    position: fixed; /* ヘッダーを固定 */
    top: 0; /* 画面上部に固定 */
    left: 0; /* 画面左端からの位置 */
    right: 0; /* 画面右端まで */
    z-index: 1000; /* ヘッダーが他の要素の上に表示されるように */
    height: 100px; /* ヘッダーの高さを設定 */
    width:100%;
}
h1 {
    font-size: 2.3em;
}
/* お店を追加するボタン */
.insert-button {
    position: absolute;
    right: 10%;
    top: 40%;
}

p {
    text-align: center;
}

/* トップ画面 */
.container {

}

