/*　ヘッダー　*/
.header {
    white-space: nowrap;
    background-color: #f4b996;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    height: 100px;
    width:100%;
}
h1 {
    font-size: 2.3em;
}
/* お店を追加するボタン */
.insert-button {
    position: absolute;
    right: 10%;
    top: 40%;
}

p {
    text-align: center;
}

/* トップ画面 */
.container {
    display: grid;
    gap: 25px;
}
.block {
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 320px; /* ボックスの大きさ */
    height: 300px;
}